body {
    font-family: "roboto", sans-serif;
}

.one,
.footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 50px;
}

ul {
    display: flex;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul,
.main-subtext {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    font-weight: 200;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

.header-content {
    display: flex;
    padding: 50px 150px;
    gap: 35px;
}

img {
    width: 30vw;
}

h4 {
    margin: 0;
}

.main-subtext {
    margin: 0 0 10px 0;
}

.main-subtext {
    font-weight: 200;
}

.blue-signup {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.tile-container {
    display: flex;
    gap: 40px;
    padding: 0 215px;
    margin-bottom: 60px;
}

.tile > img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tile > p {
    text-align: center;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin-bottom: 0;
}

.customer {
    margin: 0;
    font-weight: bold;
    align-self: flex-end;
}

.signup-box {
    background-color: #3882F6;
    margin: 50px 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f9f9f9;
    padding: 50px 100px;
}

.left-signup > p {
    margin: 0;
}

.signup-head {
    font-weight: bold;
    font-size: 18px;
}

.signup-text {
    font-weight: 300;
}

.right-signup > button {
    border: solid white;
    border-radius: 5px;
    background: none;    
    color: #F9FAF8;
    padding: 5px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 10px;
}

